button {
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 2px solid $primary;
  color: $primary;
  background: transparent;

  &.btn-warning {
    background: $primary;
    border-color: $primary;
    color: $w;
  }

  &.btn-danger {
    background: $danger;
    border-color: $danger;
    color: $w;
  }

  &.btn-disabled {
    pointer-events: none;
    background: $lightGrey;
    color: $darkerGrey;
    border-color: $lightGrey;
  }

  &:hover {
    background: $darkerGrey;
    border-color: $darkerGrey;
    color: $w;
  }
}

@media screen and (max-width: $md) {
  button {
    font-size: 16px;
  }
}
